.contact {
  display: grid;
  grid-template:
    "mainTitle mainTitle" auto
    "contactInformation contactForm" auto /
    2fr 3fr;

  @media (max-width: 1200px) {
  }
  @media (max-width: 1024px) {
  }
  @media (max-width: 768px) {
    grid-template:
      "mainTitle" auto
      "contactInformation" auto
      "contactForm" auto;
  }
  @media (max-width: 480px) {
  }
}
