.contact{

    .title{
        text-align: center;
        margin-top: 40px;
    }

    @media (max-width: 1200px) {
    }
    @media (max-width: 1024px) {
    }
    @media (max-width: 768px) {
        .title {
            margin-top: 20px;
        }
    }
    @media (max-width: 480px) {
    }
}