@import "../../../assets/scss/themeColors";

.usersTable {
    padding: 20px;
    
    .tablePicture{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 0.25rem;
        background-color: $gray-200;
    }

    .header{
        display: flex;
        justify-content: space-between;

        .btnAgregar{
            color: white;
            text-decoration: none;
        }
    }

}